<html>
  <head>
    <title>Accueil - The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">Crée un nouveau potin mon gars !</a>
    

    <% gossips.each do |gossip| %>
      <p>
        <%= gossip.author %><br/>
        <%= gossip.content %>
      </p>
    <% end %>
  

  <a href="/gossips/show/">Accède à tous nos potins !</a>
  </body>
</html>