<html>
  <head>
    <title>Index des Potins</title>
  </head>
  <body>
    <h1>Te voilà sur la page d'index des potins petit filou !</h1>
    <a href="/gossips/index/">Indique moi un potin à t'afficher si tu l'oses !</a>
  </body>