<html>
  <head>
    <title>Page du Potin sélectionné</title>
  </head>
  <body>
    <h1>Te voilà sur la page de ton potin petit filou !</h1>
    <p>
      Voici la page du potin n°<%= gossip.id %> !<br/>
      Son auteur : <%= gossip.author %><br/>
      Le contenu du potin : <%= gossip.content %>
    </p>
  </body>
</html>
